body {
  background: linear-gradient(-45deg, #a6d9f5, #072462, #0065cd, #cbf9fa);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  font-size: 2rem;

  height: 97vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(241, 212, 212);
}
